.alerta {
  padding: 1.5rem;
  text-align: center;
  color: $blanco;
  font-weight: $bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 1rem 0;
  &.error {
    background-color: $rojo;
  }

  &.exito {
    background-color: $verde;
  }
}
