.facilidades-texto {
  font-size: xx-large;
  font-weight: $bold;
}

.listado-facilidades {
  line-height: 4;
  li {
    font-size: larger;
  }
  padding-bottom: 5rem;
}

.contenedor-facilidades {
  height: auto;
  background-color: $crema;
}

.select-facilidades {
  margin: 5rem 10rem;
  padding: 2rem;
  width: 84%;
  text-align: center;
}
