.contenedor-tarjeta {
  min-height: 100vh;
  background: #eee3cb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-bottom: 60px;
}

.contenedor-tarjeta form {
  background: #967e76;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  padding-top: 160px;
}

.contenedor-tarjeta form .inputBox {
  margin-top: 20px;
}

.contenedor-tarjeta form .inputBox span {
  display: block;
  color: #000;
  padding-bottom: 5px;
}

.contenedor-tarjeta form .inputBox input,
.contenedor-tarjeta form .inputBox select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
}

.contenedor-tarjeta form .flexbox {
  display: flex;
  gap: 15px;
}

.contenedor-tarjeta form .flexbox .inputBox {
  flex: 1 1 150px;
}

.contenedor-tarjeta form .submit-btn {
  width: 100%;
  background: linear-gradient(45deg, #eee3cb, #b7c4cf);
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}

.contenedor-tarjeta form .submit-btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}

.contenedor-tarjeta .card-contenedor {
  margin-bottom: -150px;
  position: relative;
  height: 250px;
  width: 400px;
}

.contenedor-tarjeta .card-contenedor .front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #b7c4cf, #eee3cb);
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease-out;
}

.contenedor-tarjeta .card-contenedor .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.contenedor-tarjeta .card-contenedor .front .image img {
  height: 50px;
}

.contenedor-tarjeta .card-contenedor .front .card-number-box {
  padding: 30px 0;
  font-size: 22px;
  color: #444;
}

.contenedor-tarjeta .card-contenedor .front .flexbox {
  display: flex;
}

.contenedor-tarjeta .card-contenedor .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}

.contenedor-tarjeta .card-contenedor .front .flexbox .box {
  font-size: 15px;
  color: #444;
}

.contenedor-tarjeta .card-contenedor .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #b7c4cf, #eee3cb);
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.4s ease-out;
}

.contenedor-tarjeta .card-contenedor .back .stripe {
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}

.contenedor-tarjeta .card-contenedor .back .box {
  padding: 0 20px;
}

.contenedor-tarjeta .card-contenedor .back .box span {
  color: #444;
  font-size: 15px;
}

.contenedor-tarjeta .card-contenedor .back .box .cvv-box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #333;
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
}

.contenedor-tarjeta .card-contenedor .back .box img {
  margin-top: 30px;
  height: 30px;
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}
.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.container-form a i {
  color: #967e76;
  margin-right: 10px;
}
.container-form form .campo,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #967e76;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #967e76;
  color: #eee3cb;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: #e39403;
}

.contenedor-seleccion-pago {
  width: 90%;
  max-width: 900px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tabla {
  width: 33%;
  height: 550px;
  margin: auto;
  border: 1px solid #967e76;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #967e76;
  padding: 60px;
  text-align: center;
  flex-grow: 1;
  color: #000;
}

.tabla > h2 {
  font-size: 30px;
  margin-bottom: 35px;
}

.tabla img {
  width: 64px;
  margin-bottom: 35px;
}

.tabla > h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.tabla > p {
  display: block;
  margin-bottom: 20px;
}

.tabla:hover {
  background: #b7c4cf;
  color: #000;
  transition: 0.5s all;
  transform: scale(1.1);
  cursor: pointer;
}
